In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

# Load the dataset
file_path = '/content/drive/MyDrive/AB_NYC_2019.csv'
df = pd.read_csv(file_path)

df.fillna(value={'price': df['price'].mean()}, inplace=True)

df.drop_duplicates(subset=['id'], keep='first', inplace=True)

df['last_review'] = pd.to_datetime(df['last_review'])

cleaned_file_path = '/content/drive/MyDrive/AB_NYC_2019.csv'
df.to_csv(cleaned_file_path, index=False)

# Print summary information
print("Data cleaning completed.")
print("Summary Information:")
print(df.info())

Data cleaning completed.
Summary Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB
None

In [ ]:
# Missing Data Handling: Dealing with missing values by either imputing them or making informed decisions on how to handle gaps in the dataset

In [ ]:
missing_values = df.isnull().sum()
print("Missing Values:")
print(missing_values)

mean_price = df['price'].mean()
df['price'].fillna(mean_price, inplace=True)

df.dropna(subset=['last_review'], inplace=True)

cleaned_file_path = '/content/drive/MyDrive/AB_NYC_2019.csv'
df.to_csv(cleaned_file_path, index=False)

# Print summary information
print("Missing data handling completed.")
print("Summary Information:")
print(df.info())

Missing Values:
id                                 0
name                               6
host_id                            0
host_name                         16
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64
Missing data handling completed.
Summary Information:
<class 'pandas.core.frame.DataFrame'>
Index: 38843 entries, 0 to 48852
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              38843 non-null  int64
 1   name                            38837 non-null  object
 2   host_id                         38843 non-null  int64
 3   host_name                       38827 non-null  object
 4   neighbourhood_group             38843 non-null  object
 5   neighbourhood                   38843 non-null  object
 6   latitude                        38843 non-null  float64
 7   longitude                       38843 non-null  float64
 8   room_type                       38843 non-null  object
 9   price                           38843 non-null  int64
 10  minimum_nights                  38843 non-null  int64
 11  number_of_reviews               38843 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  38843 non-null  int64
 15  availability_365                38843 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 5.0+ MB
None

In [ ]:
# Duplicate Removal: Identifying and eliminating duplicate records to maintain data uniqueness

In [ ]:
duplicate_rows = df[df.duplicated(subset=['id'], keep='first')]  # Change 'id' to the column(s) you want to check for duplicates
print("Duplicate Records:")
print(duplicate_rows)

# Remove duplicate records
df.drop_duplicates(subset=['id'], keep='first', inplace=True)  # Change 'id' to the column(s) you want to remove duplicates based on

cleaned_file_path = '/content/drive/MyDrive/AB_NYC_2019.csv'
df.to_csv(cleaned_file_path, index=False)

# Print summary information
print("Duplicate removal completed.")
print("Summary Information:")
print(df.info())

Duplicate Records:
Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []
Duplicate removal completed.
Summary Information:
<class 'pandas.core.frame.DataFrame'>
Index: 38843 entries, 0 to 48852
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              38843 non-null  int64
 1   name                            38837 non-null  object
 2   host_id                         38843 non-null  int64
 3   host_name                       38827 non-null  object
 4   neighbourhood_group             38843 non-null  object
 5   neighbourhood                   38843 non-null  object
 6   latitude                        38843 non-null  float64
 7   longitude                       38843 non-null  float64
 8   room_type                       38843 non-null  object
 9   price                           38843 non-null  int64
 10  minimum_nights                  38843 non-null  int64
 11  number_of_reviews               38843 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  38843 non-null  int64
 15  availability_365                38843 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 5.0+ MB
None

In [ ]:
# Standardization: Consistent formatting and units across the dataset for accurate analysis.

In [ ]:
df['price'] = df['price'] * 0.84
if 'date' in df.columns:
    df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
else:
    print("Column 'date' not found in the DataFrame.")

cleaned_file_path = '/content/drive/MyDrive/AB_NYC_2019.csv'
df.to_csv(cleaned_file_path, index=False)

# Print summary information
print("Standardization completed.")
print("Summary Information:")
print(df.info())

Column 'date' not found in the DataFrame.
Standardization completed.
Summary Information:
<class 'pandas.core.frame.DataFrame'>
Index: 38843 entries, 0 to 48852
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              38843 non-null  int64
 1   name                            38837 non-null  object
 2   host_id                         38843 non-null  int64
 3   host_name                       38827 non-null  object
 4   neighbourhood_group             38843 non-null  object
 5   neighbourhood                   38843 non-null  object
 6   latitude                        38843 non-null  float64
 7   longitude                       38843 non-null  float64
 8   room_type                       38843 non-null  object
 9   price                           38843 non-null  float64
 10  minimum_nights                  38843 non-null  int64
 11  number_of_reviews               38843 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  38843 non-null  int64
 15  availability_365                38843 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(6), object(5)
memory usage: 5.0+ MB
None

In [ ]:
# Outlier Detection: Identifying and addressing outliers that may skew analysis or model performance

In [ ]:
import numpy as np

numeric_cols = df.select_dtypes(include=np.number).columns
z_scores = df[numeric_cols].apply(lambda x: (x - x.mean()) / x.std())

outlier_threshold = 3

outliers = df[(z_scores > outlier_threshold).any(axis=1)]

print("Outliers Identified:")
print(outliers)

print("Outlier detection completed.")
print("Summary Information:")
df.info()

Outliers Identified:
             id                                               name    host_id  \
3          3831                    Cozy Entire Floor of Brownstone       4869
7          5178                   Large Furnished Room Near B'way        8967
11         5441                    Central Manhattan/near Broadway       7989
14         6090                      West Village Nest - Superhost      11975
16         7097                  Perfect for Your Parents + Garden      17571
...         ...                                                ...        ...
48033  36041232          Nice house room 2 near van cortlandt park  230720704
48126  36101190                                   Flushing Hideout   30839692
48127  36101396                            7 minutes away from JFK   83974928
48293  36182136                            House by the beach side  234781729
48526  36309284  Private Room Near JFK, St John's Hospital, & B...  234090781

         host_name neighbourhood_group    neighbourhood  latitude  longitude  \
3      LisaRoxanne            Brooklyn     Clinton Hill  40.68514  -73.95976
7         Shunichi           Manhattan   Hell's Kitchen  40.76489  -73.98493
11            Kate           Manhattan   Hell's Kitchen  40.76076  -73.98867
14           Alina           Manhattan     West Village  40.73530  -74.00525
16            Jane            Brooklyn      Fort Greene  40.69169  -73.97185
...            ...                 ...              ...       ...        ...
48033           Pp               Bronx  North Riverdale  40.91167  -73.89566
48126      Stavros              Queens         Flushing  40.75406  -73.80613
48127       Danica              Queens        Laurelton  40.66992  -73.74518
48293        Nikky              Queens         Edgemere  40.59309  -73.77958
48526      Phoenix              Queens        Bayswater  40.60804  -73.75829

             room_type     price  minimum_nights  number_of_reviews  \
3      Entire home/apt   62.7984               1                270
7         Private room   55.7424               2                430
11        Private room   59.9760               2                188
14     Entire home/apt   84.6720              90                 27
16     Entire home/apt  151.7040               2                198
...                ...       ...             ...                ...
48033     Private room   28.2240               1                  1
48126      Shared room   17.6400               1                  1
48127     Private room   23.9904               1                  3
48293     Private room   45.8640               1                  2
48526     Private room   31.7520               3                  1

      last_review  reviews_per_month  calculated_host_listings_count  \
3      2019-07-05               4.64                               1
7      2019-06-24               3.47                               1
11     2019-06-23               1.50                               1
14     2018-10-31               0.22                               1
16     2019-06-28               1.72                               1
...           ...                ...                             ...
48033  2019-07-06               1.00                               3
48126  2019-06-30               1.00                               3
48127  2019-07-08               3.00                               1
48293  2019-07-06               2.00                               1
48526  2019-07-04               1.00                               2

       availability_365
3                   194
7                   220
11                   39
14                    0
16                  321
...                 ...
48033               174
48126                86
48127                70
48293               363
48526                90

[3299 rows x 16 columns]
Outlier detection completed.
Summary Information:
<class 'pandas.core.frame.DataFrame'>
Index: 38843 entries, 0 to 48852
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              38843 non-null  int64
 1   name                            38837 non-null  object
 2   host_id                         38843 non-null  int64
 3   host_name                       38827 non-null  object
 4   neighbourhood_group             38843 non-null  object
 5   neighbourhood                   38843 non-null  object
 6   latitude                        38843 non-null  float64
 7   longitude                       38843 non-null  float64
 8   room_type                       38843 non-null  object
 9   price                           38843 non-null  float64
 10  minimum_nights                  38843 non-null  int64
 11  number_of_reviews               38843 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  38843 non-null  int64
 15  availability_365                38843 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(6), object(5)
memory usage: 5.0+ MB